.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.ui-dialog {
	border-radius: 2px;
	box-shadow: 0 2px 5px -2px #555;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300;
	padding: 0;
	border: none;
	background: #fff;
}

.ui-dialog-titlebar {
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	background: #CDDFE9;
	font-size: 20px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	margin: 0;
	border-radius: 0;
	font-weight: 600px;
	border: none;
	padding: 10px 15px;
}

.ui-dialog-titlebar-close {
	float: right;
}

.ui-dialog-content {
	padding: 15px;
}


/* Dialog Form Style */
.ui-dialog-content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.ul-dialog-content ul li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

li.studentdetails-note-subject {
	width: 100%;
}

.studentdetails-note-createdialog input {
	height: 30px;
	width: 100%;
	border: 1px solid #00aedf;
	border-radius: 2px;
}

.studentdetails-note-createdialog textarea {
	width: 100%;
	height: 200px;
	border: 1px solid #00aedf;
	border-radius: 2px;
}

.studentdetails-note-createdialog input:focus, .studentdetails-note-createdialog textarea:focus {
	border: 1px solid #00aedf;
	box-shadow: inset 0 0 10px 2px #CDDFE9;
}

.studentdetails-note-privacy-options ul li {
	width: 100%;
}

.studentdetails-note-subject label, .studentdetails-note-type-options label, .studentdetails-note-privacy-options label, .studentdetails-note-attachment-add label {

	background-color: rgb(47, 141, 191);
	color: #fff;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 0px;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.studentdetails-note-subject input {
	clear: right;
	width: 100%;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.studentdetails-note-options {
	width: 100%;
	height: 50px;
	position: relative;
}

.studentdetails-note-options div {
	float: left;
	clear: both;
	display: block;
}

.studentdetails-note-type-options {
	position: absolute;
	left: 0;
	right: 50%;
	margin-right: 5px;
}

.studentdetails-note-type-options select {
	clear: right;
	width: 100%;
	border-radius: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border: 1px solid #00aedf;
}

.studentdetails-note-privacy-options {
	position: absolute;
	left: 50%;
	right: 0;
	margin-left: 5px;
	clear: both;
}

.studentdetails-note-privacy-option-wrapper {
	float: left;
	clear: right;
	width: 100%;
	border-radius: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-sizing: border-box;
	border: 1px solid #00aedf;
}

.studentdetails-note-privacy-options label.studentdetails-note-privacy-label {
	float: left;
	color: #fff;
	vertical-align: absolute-middle;
	height: 20px;
	line-height: 20px;
	background-color: #fff;
	color: #000;
	padding: 4px 0;
	margin: 0;
	width: 50%;
	text-align: center;
	border-radius: 0;
}


.studentdetails-note-privacy-label input.studentdetails-note-privacy-radio {
	display: inline-block;
	width: 20px;
	padding: 0;
	margin: 0;
	height: 20px;
	line-height: 20px;
}

.studentdetails-note-attachment-add {
	display: inline-block;
	float: left;
	width: 100%;
	margin-top: 10px;
}

.studentdetails-note-attachment-add ul {
	border: 1px solid #00aedf;
	border-radius: 2px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	box-shadow: inset 0 0 10px -4px #111;
	max-height: 90px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

.studentdetails-note-attachment-add ul li {
	position: relative;
}

.studentdetails-note-attachment-add ul li a {
	padding-left: 40px;
}

.studentdetails-note-attachment-add ul li a i {
	width: 30px;
	padding: 1px;
	line-height: 30px;
}

.studentdetails-note-attachment-add ul li:last-child {
	margin-bottom: 0;
}

.studentdetails-note-attachments li a.studentdetails-note-attachment-tool {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: #ccc;
	color: #000;
	width: 30px;
	font-size: 20px;
	padding: 0;
	overflow: visible;
}



.studentdetails-note-attachments li a.studentdetails-note-attachment-tool i {
	background-color: #ccc;
	padding: 1px;
	color: #fff;
	width: 30px;
	font-size: 24px;
	line-height: 30px;
	padding: 0;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
	border-radius: 2px;
	box-shadow: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

.studentdetails-note-attachments li a.studentdetails-note-attachment-tool:hover i {
	background-color: #F37022;
	box-shadow: 0 0 5px 0 #FAA56F;
}

.studentdetails-note-attachments li.attachment-browse {
	position: relative;
}

.studentdetails-note-attachments li.attachment-browse i {
	position: relative;
	display: inline-block;
	top: 0;
	left: 0;
	bottom: 0;
	color: #fff;
	padding: 5px;
	line-height: 20px;
	background-color: #ccc;
	border: 1px solid #ccc;
	color: #fff;
	width: 20px;
	height: 20px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	text-shadow: 1px 1px 2px #555;
	text-align: center;
}

.studentdetails-note-attachments li.attachment-browse:hover i {
	background-color: #ccc;
}

.studentdetails-note-attachments li.attachment-browse input {
	position: absolute;
	top: 0;
	left: 30px;
	right: 30px;
	height: 100%;
	width: auto;
	float: left;
	display: inline-block;
	border-radius: 0;
	border: 1px solid #ccc;
	font-size: 12px;
	line-height: 20px;
	padding: 5px;
}

.studentdetails-note-attachments li.attachment-browse a.studentdetails-note-attachment-tool {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: auto;
	color: #000;
	width: 30px;
	font-size: 20px;
	border: 0;
	overflow: visible;
	background-color: #F37022;
	text-align: center;
	vertical-align: middle;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.studentdetails-note-attachments li.attachment-browse a.studentdetails-note-attachment-tool i {
	display: block;
	text-shadow: none;
	border: 0;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	background: none;
	line-height: 20px;
	padding: 6px 0;
	width: 100%;
	height: 100%;

	vertical-align: middle;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.studentdetails-note-body {
	position: relative;
}


.studentdetails-note-body-count {
	position: relative;
	/*top: -25px;*/
	margin-top: -11px;
	text-align: right;
	margin-bottom: 10px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	left: 0px;
	width: auto;
	border: 1px solid rgb(47, 141, 191);
	color: rgb(47, 141, 191);
	padding: 2px;
	font-size: 11px;
	line-height: 11px;
	background-color: #CDDFE9;
}

#studentDetailsNoteForm li.studentdetails-note-attachment-add {
	display: none;
}

#studentDetailsNoteForm.has-attachment li.studentdetails-note-attachment-add {
	display: inline-block;
}