body {
/*	background: url('./images/gray_jean.png');*/
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.studentdetails-notes-container {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 25px;
	position: relative;

}

.studentdetails-notes-container * {
	box-sizing: border-box;
}

.studentdetails-notes-primary {
	position: absolute;
	top:0;
	left: 0;
	right: 250;
	padding: 15px;
}

.studentdetails-note {
	float: left;
	clear: both;
	box-shadow: 0 2px 5px -2px #555;
	padding: 15px;
	margin-bottom: 10px;
	border-radius: 2px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	background: #fff;
	font-weight: 300;
}

.studentdetails-note-header {
	position: relative;
	padding: 10px 15px;
	margin: -15px -15px;
	margin-bottom: 15px;
	background-color: rgb(205, 223, 233);
	font-size: 20px;
	font-family: Verdana;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	height: 40px;
	overflow: hidden;
	cursor: pointer;
}

.studentdetails-note-toggle i {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin-left: -5px;
	text-decoration: none;
	border: none;
	color: rgb(47, 141, 191);
}

.studentdetails-note.collapsed {
	padding-bottom: 0;
	width: 100%;
}

.studentdetails-note.collapsed .studentdetails-note-header {
	margin-bottom: 0;
}

.studentdetails-note.collapsed .studentdetails-note-body, .studentdetails-note.collapsed .studentdetails-note-tools {
	display: none;
}

.studentdetails-note.expanded .studentdetails-note-body, .studentdetails-note.expanded .studentdetails-note-tools {
	display: inline-block;
	clear: both;
}

.studentdetails-note-toggle:hover i {
	color: orange;
	text-shadow: 0 0 5px #555;
}

.studentdetails-note.expanded .studentdetails-note-toggle .collapsed-icon, .studentdetails-note.collapsed .studentdetails-note-toggle .expanded-icon {
	display: none;
}

.studentdetails-note.collapsed .studentdetails-note-toggle .collapsed-icon, .studentdetails-note.expanded .studentdetails-note-toggle .expanded-icon {
	display: visible;
}

.studentdetails-note-visibility {
	display: block;
	position: absolute;
	right: 0px;
	height: 40px;
	width: 50px;
	overflow: hidden;
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-top: -10px;
	/*color: rgb(205, 223, 233);*/
	color: rgb(47, 141, 191);
}

.studentdetails-note-visibility i {
	margin-top: -9px;
	color: #fff;

}

.studentdetails-note-visibility i.icon-stack-base {
	color: rgb(47, 141, 191);
	margin-left: 2px;
	padding-left: 1px;
}

.studentdetails-note-meta {
	float: left;
	margin-top: -5px;
	margin-left: 5px;
	margin-right: 10px;
	padding-right: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 300;
	border-right: 1px dotted #999;
}

.studentdetails-note-date {
	float: left;
	clear: both;
	font-size: 12px;
	line-height: 12px;
	display: inline-block;
	padding: 2px 0;
	font-weight: 600;
}

.studentdetails-note-author {
	float: left;
	clear: both;
	font-size: 12px;
	line-height: 12px;
	display: inline-block;
	padding: 2px 0;

}

.studentdetails-note-subject {
	font-size: 15px;
	float: left;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

.studentdetails-note-type {
	position: absolute;
	right: 30px;
	bottom: 0;
	padding: 3px 10px;
	padding-left: 0px;
	padding-right: 15px;
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	border-top-left-radius: 2px;
	/*background-color: rgba(255, 255, 255, 0.4);*/
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 200;
	border-bottom: 2px solid rgb(47, 141, 191);
}

.studentdetails-note-tools {
	float: right;
	margin-bottom: -10px;
	margin-right: -10px;
}

.studentdetails-note-tools a {
	text-decoration: none;
	background-color: #eee;
	display: block;
	padding: 1px 5px;
	float: left;
	margin: 0;
	margin-left: 5px;
	border-radius: 3px;
	font-size: 0.8em;
	text-transform: uppercase;
	color: #999;
}

.studentdetails-note-tools a:hover {
	background: #FAA56F;
	color: #111;
}

.studentdetails-note-tools a i {
	font-size: 14px;
	color: #ccc;
}

.studentdetails-note-tools a:hover i {
	color: #111;
}

.studentdetails-note-attachments {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 50%;
}

.studentdetails-note-attachments li {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

.studentdetails-note-attachments li a {
	display: block;
	padding: 5px;
	
	font-style: italic;
	border-radius: 2px;
	box-shadow: 0 0 4px -1px #555;
	position: relative;
	overflow: hidden;
	padding-left: 35px;
	text-decoration: none;
}

.studentdetails-note-attachments li a:hover {
	box-shadow: 0 0 5px 0px #FAA56F;
}

.studentdetails-note-attachments li a i {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 30px;
	text-align: center;
	background-color: rgb(47, 141, 191);
	color: #fff;
	padding: 5px;
	font-size: 14px;
	line-height: 20px;
	margin-right: 10px;
}

.studentdetails-note-attachments li a:hover i {
	background-color: #FAA56F;
}

.studentdetails-notes-sidebar {
	position: absolute;
	top:0;
	right: 0;
	width: 250px;
	padding: 15px 5px;
}

.studentdetails-notes-filters {
	position: relative;
	border-radius: 2px;
	box-shadow: 0 1px 5px -2px #555;
	padding: 10px;
	padding-top: 0; 
	margin-top: 10px;
	overflow: hidden;
	background: #fff;
}

.studentdetails-notes-filters h5 {
	position: relative;
	left: 0;
	right: 0;
	background-color: rgb(47, 141, 191);
	color: #fff;
	padding: 2px 5px;
	margin: 0 -10px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 300;
	clear: both;
}

.studentdetails-notes-filters ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.studentdetails-notes-filters ul li a {
	margin: 0;
	padding: 0;
	display: block;
}

.studentdetails-notes-filters ul li a {
	display: block;
	clear: right;
	margin-left: -10px;
	margin-right: -10px; 
	padding: 5px;
	padding-left: 15px;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: 300;
}

.studentdetails-notes-filters ul li a:hover {
	border-left: 5px solid rgb(205, 223, 233);
	padding-left: 10px;
	text-decoration: none;
}

.studentdetails-notes-filters ul li.selected a {
	border-left: 5px solid #FAA56F;
	padding-left: 10px;
	font-weight: 300;
	/*border-bottom: 1px solid #FAA56F;
	border-top: 1px solid #FAA56F;*/
	box-shadow: 0 0px 5px -2px #aaa;
}

.studentdetails-create-btn {
	font-size: 1.5em;
	background-color: #F37022;
	padding: 10px;
	color: #fff;
	border-radius: 3px;
	width: auto;
	display: block;
	text-align: center;
	box-shadow: 0 1px 5px -1px #555;
	font-weight: 300;
}

.studentdetails-create-btn:hover {
	text-decoration: none;
	color: #fff;
	box-shadow: 0 1px 5px -1px #555;
	margin-top: 1px;
	margin-bottom: -1px;
} 

.studentdetails-create-btn:active {
	box-shadow: inset 0 0px 10px 0px #555;
}


#studentdetails-note-searchform {
	margin-top: 10px;
	margin-bottom:0;
}

#studentdetails-note-searchby {
	width: 100%;
	font-size: 10px;
	float: left;
	margin-right: 5px;
}

#studentdetails-note-searchquery {
	width: 100%;
	height: 30px;
}

#studentdetails-note-searchquery:focus, #studentdetails-note-searchby:focus {
	border: 1px solid #ccc;
	box-shadow: 0 0 5px -1px #555;
}

.studentdetails-note-search-btn, .studentdetails-note-form-btn {
	font-size: 1em;
	background-color: #F37022;
	padding: 5px;
	color: #fff;
	border-radius: 3px;
	width: auto;
	display: block;
	text-align: center;
	box-shadow: 0 1px 5px -1px #555;
	font-weight: 300;
}

.studentdetails-note-buttons {
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	margin-top: 10px;
}

.studentdetails-note-form-btn {
	width: 100px;
	float: right;
	margin-left: 10px;
}

.studentdetails-note-form-btn.cancel {
	background-color: rgb(47, 141, 191);
}

.studentdetails-note-form-btn.attach {
	float: left;
	margin: 0;
	background-color: rgb(47, 141, 191);
}

.studentdetails-note-form-btn:hover {
	text-decoration: none;
	color: #fff;
	box-shadow: 0 1px 5px -1px #555;
	margin-top: 1px;
	margin-bottom: -1px;
} 

.studentdetails-note-form-btn:active {
	box-shadow: inset 0 0px 10px 0px #555;
}

.studentdetails-note-search-btn:hover {
	text-decoration: none;
	color: #fff;
	box-shadow: 0 1px 5px -1px #555;
	margin-top: 1px;
	margin-bottom: -1px;
} 

.studentdetails-note-search-btn:active {
	box-shadow: inset 0 0px 10px 0px #555;
}

.studentdetails-notes-display-settings {
	
	display: block;
	float: left;
	clear: both;
	height: 30px;
}

.studentdetails-notes-display-settings li {
	display: block;
}

ul.studentdetails-notes-display-settings li a {
	padding-left: 15px;
}

ul.studentdetails-notes-display-settings li a, ul.studentdetails-notes-display-settings li.selected a {
	margin: 0;
	padding: 5px 0;
	padding-left: 10px;
	box-sizing: border-box;
}

ul.studentdetails-notes-display-settings li a:hover {
	margin: 0;
	padding: 5px 0;
	padding-left: 5px;
	box-sizing: border-box;
}

ul.studentdetails-notes-display-settings li.selected a:hover {
	padding-left: 10px;
}

.studentdetails-expand-all {
	position: absolute;
	left: 0px;
	right: 50%;
	margin: 0;
	padding: 0;
	width: auto;
}

.studentdetails-collapse-all {
	position: absolute;
	left: 50%;
	right: 0;
	margin: 0;
	padding: 0;
	width: auto;
}

.studentdetails-expand-all a, .studentdetails-collapse-all a {
	width: auto;
	margin-left: 10px;
}

.studentdetails-expand-all.selected a, .studentdetails-collapse-all.selected a {
	box-shadow: 0px 0px 5px 0px #aaa !important;
	z-index: 5;
	overflow: visible;
}

/* Create a Note Dialog */
.studentdetails-note-createdialog {
	background-color: #fff;
	
	display: none;
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	background: #fff;
	font-weight: 300;
}

.studentdetails-note-createdialog form {
	margin-bottom: 0;
}