body {
	background-color: #aaa;
	margin: 0;
	padding: 0;
}

.student-previous-enrollment-box {
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: white;
    z-index: 100;

    height: 470px;
    margin-top: -235px;

    width: 600px;
    margin-left: -300px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    font-family: verdana;
    font-size: 12px;
    -moz-box-shadow: 0 2px 5px -2px #111;
    -webkit-box-shadow: 0 2px 5px -2px #111;
    box-shadow: 0 2px 5px -2px #111;
}

p.caution {
	background-color: #FFF47F;
	padding: 5px;
	margin: -5px;
	border-radius: 5px;
}

.student-previous-enrollment-box h1 {
	padding: 10px 15px;
	margin: -15px -15px;
	margin-bottom: 0;
	background-color: rgb(205, 223, 233);
	font-size: 20px;
}

.student-previous-enrollment-box ul {
	width: 100%;
	list-style: none;
	padding: 10px;
	margin: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 240px;
	overflow-y: scroll;
	-moz-box-shadow: inset 0 0 5px -1px #aaa;
	-webkit-box-shadow: inset 0 0 5px -1px #aaa;
	box-shadow: inset 0 0 5px -1px #aaa;
	border-radius: 3px;
	background-color: #eee;
	border: 1px solid #ccc;
}

.student-previous-enrollment-box ul li {
	border-collapse: collapse;
	border-spacing: collapse;
	background-color: #fff;
	display: block;
	padding: 5px;
	margin: 0;
	margin-bottom: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 5px -1px #aaa;
	-webkit-box-shadow: 0 1px 5px -1px #aaa;
	box-shadow: 0 1px 5px -1px #aaa;
	font-size: 14px;
	float: left;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: arial;
	
}

.student-previous-enrollment-box ul li div {
	padding-left: 10px;
}

.student-previous-enrollment-box ul li .enrollment-item-label {
	display: block;
	clear: right;
	border-bottom: 1px dotted #ccc;
	text-transform: uppercase;
	color: #aaa;
	margin-bottom: 5px;
	font-size: 11px;
	margin-left: -10px;
	padding-bottom: 2px;
}

.student-previous-enrollment-box ul li:hover {
	-moz-box-shadow: 0 1px 5px -1px orange;
	-webkit-box-shadow: 0 1px 5px -1px orange;
	box-shadow: 0 1px 5px -1px orange;
	cursor: pointer;
}

.student-previous-enrollment-box ul li.selected {
	-moz-box-shadow: inset 0 0 3px 0px #aaa;
	-webkit-box-shadow: inset 0 0 3px 0px #aaa;
	box-shadow: inset 0 0 3px 0px #aaa;
	border: 1px solid orange;
	background-color: #FFE0CC;
}

.student-previous-enrollment-box ul .enrolled {
	width: 200px;
	float: left;
	margin-right: 20px;
}

.student-previous-enrollment-box ul .dropped {
	width: 200px;
	float: left;
	display: block;
}

.enrollment-attempt-status {
	position: relative;
	float: left;
	background-position: center center;
	background-repeat: no-repeat;
	width: 28px;
	height: 28px;
	font-size: 0;
	margin-top: 5px;
	margin-left: 15px;
	padding: 0 !important;
}

.enrollment-attempt-status.archived-enrollment {
	background-image: url('./images/enrollment_archived.png');
}

.enrollment-attempt-status.recent-drop {
	background-image: url('./images/enrollment_recent-drop.png');
}

.student-previous-enrollment-box ul .grade {
	position: relative;
	width: 50px;
	float: right;
	right: 0;
	bottom: 0;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	text-align: center;
	font-size: 20px;
	line-height: 20px;
	margin-top: 3px;
	padding-left: 0px !important;
}

.student-previous-enrollment-box ul .grade span {
	display: block;
	text-transform: uppercase;
	font-size: 12px;
}

.student-previous-enrollment-box ul .new {
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	padding: 4px 0;
}

.enrollment-modal-buttons {
	display: block;
	float: right;
	margin-top: 10px;
}

.enrollment-modal-buttons a {
	display: inline-block;
	padding: 5px 20px;
	background-color: #2F8DBF;
	font-weight: bold;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	-moz-box-shadow: 0 2px 5px -2px #111;
	-webkit-box-shadow: 0 2px 5px -2px #111;
	box-shadow: 0 2px 5px -2px #111;
	margin-left: 10px;
}

.enrollment-modal-buttons a.disabled {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #aaa;
	cursor: default;
}


#powerTip {
	width: 250px;
	font-size: 12px;
	font-family: arial;
	white-space: normal;
	text-align: center;
}